absl-py==0.9.0
aiohttp==3.6.2
astor==0.8.1
async-timeout==3.0.1
attrs==20.2.0
base58==1.0.3
beautifulsoup4==4.7.1
blinker==1.4
brotlipy==0.7.0
cachetools==4.1.1
carnivalmirror==0.6.2
cbor2==5.1.2
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
cloudpickle==1.2.2
colorama==0.4.3
compmake==4.0.2
comptests==1.4.34
configparser==5.0.0
conftools==1.9.9
coverage==5.3
cryptography==3.1
cycler==0.10.0
dataclasses-json==0.5.2
dataclasses==0.7
decentlogs==1.4.0
decorator==4.4.2
docker-pycreds==0.4.0
docutils==0.16
duckietown-gym-daffy==6.0.25
duckietown-serialization-ds1==1.0.10
duckietown-world-daffy==6.0.24
filelock==3.0.12
freetype-py==2.2.0
frozendict==1.2
funcsigs==1.0.2
future==0.18.2
gast==0.2.2
gitdb==4.0.5
gitpython==3.1.8
gltflib==1.0.5
google-auth-oauthlib==0.4.1
google-auth==1.21.1
google-pasta==0.2.0
google==3.0.0
gputil==1.4.0
gql==0.2.0
graphql-core==1.1
grpcio==1.27.2
gym==0.17.3
h5py==2.8.0
idna-ssl==1.1.0
idna==2.10
imageio==2.9.0
importlib-metadata==1.7.0
iniconfig==1.0.1
jsonschema==3.2.0
junit-xml==1.9
keras-applications==1.0.8
keras-preprocessing==1.1.0
kiwisolver==1.2.0
lxml==4.5.2
lz4==3.1.0
markdown==3.2.2
marshmallow-enum==1.5.1
marshmallow==3.9.1
matplotlib==3.3.2
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools==8.5.0
multidict==4.7.6
mypy-extensions==0.4.3
networkx==2.5
nose==1.3.7
numpy==1.19.1
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencv-python==4.2.0.34
opt-einsum==3.1.0
oyaml==1.0
packaging==20.4
pandas==1.0.1
pathtools==0.1.2
pillow==7.2.0
pip==20.2.2
plotly==4.10.0
pluggy==0.13.1
promise==2.3
protobuf==3.12.4
psutil==5.7.0
py-spy==0.3.3
py==1.9.0
pyasn1-modules==0.2.7
pyasn1==0.4.8
pybase64==1.0.1
pycontracts3==3.0.2
pycontracts==1.8.12
pycparser==2.20
pygeometry-z6==2.0.5
pyglet==1.3.2
pyjwt==1.7.1
pyopengl==3.1.0
pyopenssl==19.1.0
pyparsing==2.4.7
pyrender==0.1.43
pyrsistent==0.17.3
pysocks==1.7.1
pytest==6.0.2
python-dateutil==2.8.1
pytz==2020.1
pywavelets==1.1.1
pyyaml==5.3.1
pyzmq==19.0.2
quickapp==1.3.19
ray==0.8.2
redis==3.5.3
reprep==3.0.0
requests-oauthlib==1.3.0
requests==2.24.0
retrying==1.3.3
rsa==4.6
scikit-image==0.17.2
scipy==1.5.2
seaborn==0.10.0
sentry-sdk==0.17.6
setproctitle==1.1.10
setuptools==49.6.0.post20200814
shortuuid==1.0.1
six==1.15.0
smmap==3.0.4
soupsieve==2.0.1
stringcase==1.2.0
subprocess32==3.5.4
svgwrite==1.4
systemcmd==3.0.1
tabulate==0.8.7
tensorboard-plugin-wit==1.6.0
tensorboard==2.2.1
tensorboardx==2.0
tensorflow-estimator==2.0.0
tensorflow==2.0.0
termcolor==1.1.0
tifffile==2020.9.3
toml==0.10.1
tqdm==4.46.0
trimesh==3.8.14
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.25.10
validate-email==1.3
wandb==0.8.29
watchdog==0.10.3
werkzeug==0.16.1
wheel==0.35.1
wrapt==1.12.1
xtermcolor==1.3
yarl==1.5.1
zipp==3.1.0
zuper-commons-z6==6.1.5
zuper-typing-z6==6.1.8